
<div data-ng-controller="CtrlHeader">
    <header >
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color: #ffffff;">
                    <img  src="">
                    Fakultas Teknik <br/>
                    Universitas Muhammadiyah Tangerang
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <div data-ng-if="user[0]['isactive'] === undefined">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html"  style="color: #ffffff;"class="glyphicon glyphicon-home"> home</a></li>
                        <li>  
                            <a href="index.html#!/login" style="color: #ffffff;"class="glyphicon glyphicon-log-in" > login</a>  
                        </li>

                    </ul> 
                </div>

                <div data-ng-if="user[0]['isactive'] === '1'">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html"  style="color: #ffffff;"class="glyphicon glyphicon-home"> home</a></li>
                        <li><a href=""  style="color: #ffffff;"class="glyphicon glyphicon-user"> {{ user[0]['nama'] }}</a></li>
                        <li><a  style="color: #ffffff;"class="btn glyphicon glyphicon-log-out" ng-click="logout()"></a></li>
                        
                    </ul> 
                </div>

            </div><!-- /.navbar-collapse -->



        </nav>
    </header>

</div>    
<script>
    function CtrlHeader($scope,$location,localStorageService){
        $scope.user= localStorageService.get('user');
        $scope.logout = function(){
            localStorageService.clearAll();
            $location.path('/');
        };
        
    }
</script>
